.btn {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    gap: 5px;
    border: none;
    background-color: #0d3841;
    color: #fff;
    border-radius: 2px;
    font-size: 20px;
}

.btn:hover {
    cursor: pointer;
}

